# Dependencies
node_modules/
dist/

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
screenshots/
db.json